
@{
    ViewData["Title"] = "Privacy & Terms of Use";
}

<div class="container shadow-lg bg-light rounded" style="padding:1% 2%; width:50%;">
    <div class="card-title">
        <h1>Privacy & Terms of Use</h1>
    </div>
    <div class="terms">
        @Html.Raw(ViewData["RgpdInfo"])
    </div>
    
</div>


