:root {
    --menu-background-color: #343a40;
    --menu-normal-color: #eee;
    --menu-active-color: #585858;
}

.content-wrapper {
    min-height: 100vh;
    background-color: white;
    z-index:999;
}

.navbar {
    height: 7.5% !important;
    color: var(--menu-normal-color) !important;
}

.nav-link {
    color: var(--menu-normal-color) !important;
}

.navbar-brand {
    font-size: 1.5em;
    color: var(--menu-normal-color) !important;
}

.back-to-site {
    font-size: 1.15em;
    color: var(--menu-normal-color) !important;
}

#mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
    background: #343a40;
    z-index:800 !important;
}

#btn-remove-selected{
    display:none;
}

.modal-content,
.modal-title {
    font-size: 16px;
}

.modal-footer input {
    font-size: 14px;
}

.disabled-input {
    background-color: #ddd;
    pointer-events: none;
    color: black;
}


.form-control{
    font-size:16px;
}

.alert {
    width: 30%;
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0;
    animation: 0.3s ease-in-out fade-in;
}

.close-alert {
    font-size: 20px;
}

@keyframes fade-in {
    0% {
        opacity:0;
    }

    100% {
        opacity:1;
    }
}