.portlet {
    background-color: white;
    border-radius: 4px;
    padding-bottom: 25%;
    margin-top:21.5%;
}

.portlet img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    top: 3vw;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    position: relative;
    border-radius: 50% !important;
}

.portlet-body{
    margin-top:5%;
}

.portlet-body table{
    margin-bottom:25%;
}

.profile-usertitle {
    top: 4vw;
    position: relative;
    margin: 0 auto;
    width: 70%;
}

.profile-name {
    text-align: center;
    color: cornflowerblue;
    font-weight: bold;
}

.profile-email {
    margin-left: 0;
        font-weight: bold;
    text-align: center;
}

.listContainer {
    margin-top: 4%;
}

.grade{
    font-weight:bold;
    color:cornflowerblue;
    display:block;
}

.projects {
    background-color: white;
    border-radius: 4px;
    top: 4.1vw;
}
