:root {
    --menu-background-color:#343a40;
    --menu-normal-color: #eee;
    --menu-active-color: #585858;
}


/*
    MEDIUM AND LARGE SCREENS
*/
@media only screen and (min-width: 900px) {
    .navbar-nav .nav-item {
        margin-left: 18%;
    }

    /*#backoffice-link {
        margin-left: 147%;
    }*/

    #navbar {
        height: 7.5%;
    }
}

/*
    GENERAL
*/

body {
    margin: 0;
    padding: 0;
    background-color:#eee;
}

.bg-dark {
    background-color: var(--menu-background-color) !important;
}

.navbar-toggler {
    margin-left: 10%;
    text-align:center;
}


nav a {
    color: var(--menu-normal-color) !important;
    font-size: 1.25em !important;
}

nav a:hover{
    color: white !important;
}

.navbar-brand {
    font-size: 1.6em !important;
}

.navbar-form input {
    -moz-box-sizing: border-box;
    height: 2em;
    font-size: 1.1em;
    border: none;
    transition: all 0.3s linear;
}

.input-group-btn button {
    height: 3.1em;
    border-radius:1px;
}

.glyphicon.glyphicon-search {
    font-size: 1.25em !important;
}

.active-link{
    font-weight:bold;
}