<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.2/js/mdb.min.js"></script>
<script src="~/js/stats.js"></script>
<div class="container">
    <div class="row" style="margin-top:2.5%;">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-area-chart"></i> Top 5 distrítos onde moram estudantes
                </div>
                <div class="card-body">
                    <canvas id="students_districts_chart" height="350"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-area-chart"></i> Avaliações Atribuídas
                </div>
                <div class="card-body">
                    <canvas id="project_marks_chart" height="161"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:1.5%;">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-area-chart"></i> Tecnologias mais usadas em projectos
                </div>
                <div class="card-body">
                    <canvas id="project_technologies_chart" height="100"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:1.5%;">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-area-chart"></i> Orientadores com melhor média de nota projectos
                </div>
                <div class="card-body">
                    <canvas id="mentors_average_chart" height="350"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>