@model HubEI.Models.ViewModels.LoginViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="col-md-2 offset-md-10 mt-4 container-style">
    <div class="text-center mb-4">
        <img src="~/images/user.png" class="mt-2" />
    </div>
    
    <form class="form" role="form" asp-action="Login" method="post" accept-charset="UTF-8" id="login-nav">
        <div class="form-group">
            <label asp-for="Email" class="sr-only" for="exampleInputEmail2">Email</label>
            <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password" class="sr-only" for="exampleInputPassword2">Password</label>
            <input asp-for="Password" class="form-control" id="exampleInputPassword2" placeholder="Password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-dark bg-dark text-white">Sign in</button>
        </div>
        <div class="checkbox">
            <label asp-for="RememberMe"><input asp-for="RememberMe" type="checkbox"> Keep me logged-in</label>
        </div>
    </form>
</div>